{% extends 'accounts/base.html' %}
{% block title %} Signup {% endblock title %}

{% block content %}
<div style="display: block;text-align: center;padding: 0px;">
    <form style="display: inline-block;margin-left: auto;margin-right: auto; text-align: left;" class="col-md-6" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email_input">Enter your email here:</label>
            <input type="email" class="form-control" id="email_input" name="email_id" required>
            <input type="submit" name="" class="btn btn-success" value="Get Signup Link" style="margin-top: 10px;">
        </div>
    </form>
</div>
<hr>
<p class="text-center">Already have an account?<br>
Login <a href="{% url 'login' %}">here</a></p>
{% endblock content %}