{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block title %}Newspapers | Login{% endblock title %}

{% block page_name %}Login{% endblock page_name %}

{% block content %}
<div style="display:block; text-align:center; padding:0px;">
    <div style="display:inline-block; text-align:left; margin-left:auto;
    margin-right:auto;" class="col-md-6">
    <form method="post" action="">
    {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group" style="padding-left:0px;padding-right:0px;">
    
    {% if field.errors %}
        <label class="col-12" style="margin-left:0px;padding-left:0px;padding-right:0px;">{{field.label_tag}}
            {% render_field field class="form-control is-invalid" %}
        </label>
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
    {% else %}
       <label class="col-12" style="margin-left:0px;padding-left:0px;padding-right:0px;">{{field.label_tag}}
            {% render_field field class="form-control" %}
        </label>
    {% endif %}
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="Login" class="btn btn-success">
    </form><br>
       <small class="text-muted col-md-6" style="padding-left:0px;">Forgot password? Click
           <a href="{% url 'password_reset_enter_email' %}">here</a>.
       </small>
    </div>
</div>
    {% if form.errors %}
        {% for error in form.non_field_errors %}
        <span class="text-danger form-text">{{error}}</span>
        {% endfor %}
    {% endif %}
    <hr>
    <p class="lead text-center">Do not have an account yet?<br>
    Signup <a href="{% url 'signup' %}">here</a>
    </p>
{% endblock content %}